<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" type="image/png" href="/favicon-32x32.png" sizes="32x32" />
    <link rel="icon" type="image/png" href="/favicon-16x16.png" sizes="16x16" />
    <link rel="manifest" href="/manifest.json">
    <meta name="google-site-verification" content="fwZ9hTQNFjF-4br1arH77gYTwPfsza2AzPVtlGzDt4k" />
    {{ if eq .URL "/" }}
    <!-- Unique metadata on homepage -->
    <title>{{ .Site.Title }} - {{ .Site.Params.subtitle }}</title>
    <meta name="description" content="{{ .Site.Params.description }}">
    {{ else }}
    <!-- Unique metadata on other pages -->
    <title>{{ .Title }} | {{ .Site.Title }}</title>
    <meta name="description" content="{{ .Description }}">
    {{ end }}
    <link href="/css/app.css" rel="stylesheet">
    <link href="{{ .Permalink }}" rel="canonical">
    <meta name="theme-color" content="{{ .Site.Params.themecolour }}">
    <link href="/rss.xml" rel="alternate" type="application/rss+xml" title="{{ .Title }}" />
    <meta name="author" content="{{ .Site.Author.name }}">
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="{{ .Site.Params.twitter }}" />
    <meta name="twitter:title" content="{{ .Title }} | {{ .Site.Title }}" />
    <meta name="twitter:description" content="{{ .Description }}" />
  </head>
  <body class="{{ .Params.bodyclass }}">

    {{ partial "head.html" . }}