{{ partial "header.html" . }}

<main class="main">
  <div class="main-container">
    <div class="page-header">
      <h1 class="page-header__title">Adam Wills.<br>Web Developer.<br>Photographer.<br></h1>
    </div>

    <p>Howdy.</p>

    <p>I'm a web developer &amp; photographer based in the wonderful city of <a href="https://www.google.ca/maps/place/Hamilton,+ON/">Hamilton, Ontario, Canada.</a></p>

    <p>As a web developer, I specialize in <a href="https://wordpress.tv/2015/06/20/a-modern-wordpress-developers-toolkit/">WordPress</a>, <a href="http://humancode.ca/blog/an-introduction-to-web-accessibility/">web accessibility</a>, performance and UX. Looking for some help on a project? Shoot me an email.</p>

    <p>When I pick up a camera, you'll more than likely find me at a concert, where <a href="/photography.html">I take photos</a> for a number of publications including <a href="https://www.google.ca/#q=site:exclaim.ca+%22adam+wills%22&*">Exclaim!</a></p>

    <p>I do some volunteering in the little spare time I have... over at <a href="http://cfmu.msumcmaster.ca/">CFMU,</a> I co-host the metal show every week; and I've been helping out by mentoring over at <a href="http://ladieslearningcode.com/">Ladies Learning Code,</a> a great organization that helps women and youth build technical skills.</p>

    <p>I <a href="https://twitter.com/adamwillsdev">tweet</a> and <a href="https://www.instagram.com/heavymetaladam/">take pictures of my cat, Minue,</a> so keep in touch.</p>

  </div>
</main>

{{ partial "footer.html" . }}