.main {
    margin-bottom: $grid-gutter-width-base;
    max-width: 90vw;
    margin: 0 auto;
    transition: opacity 0.3s ease-in-out;
    &-container {
        max-width: 38rem;
        margin: 0 auto;
    }
}

.page-header {
    margin-bottom: 2rem;
    text-align: right;
}

h2, h3, h4, h5, h6 {
    margin-top: 1em;
    margin-bottom: 1em;
}

.main a {
    
    font-weight: 500;
    transition: all 0.15s ease-in-out;
    position: relative;
    padding: 4px 0;
    background-image: linear-gradient($brand-primary, $brand-primary);
    background-repeat: no-repeat;
    background-size: 100% 3px;
    background-position: center bottom 0;
    background-origin: padding-box;
    text-shadow:    3px 0 $white, 
                    2px 0 $white, 
                    1px 0 $white, 
                    -1px 0 $white, 
                    -2px 0 $white, 
                    -3px 0 $white;
    

    &:hover, &:focus {
        padding: 4px 6px;
        color: $white;
        background-color: $brand-primary;
        transform: scale(1.03);
        text-decoration: none;
        box-shadow: 3px 3px 0 $black;
        text-shadow: none;
    }
}

.open-nav .main {
    opacity: 0.3;
}