$black:     #0D0D0A;
$red: 		#d40d0a;
$white:     #fff;
$grey:      #f1f1f1;

$brand-primary: $red;

$header-height: 90px;
$sidenav-width: 300px;

$font-size-base: calc(16px + .25vw);
$blockquote-font-size: calc(22px + .25vw);
$input-height: $font-size-base;
$close-font-size: $font-size-base;

$headings-font-weight:    700;
