@import 'variables';

// Core variables and mixins
@import "bootstrap/scss/variables";
@import "bootstrap/scss/mixins";

// Reset and dependencies
@import "bootstrap/scss/normalize";

// Core CSS
@import "bootstrap/scss/reboot";
@import "bootstrap/scss/type";
@import "bootstrap/scss/images";
@import "bootstrap/scss/tables";
@import "bootstrap/scss/buttons";
@import "bootstrap/scss/nav";
@import "bootstrap/scss/responsive-embed";

// Prism JS
@import 'prismjs/themes/prism-twilight';

@import 'blog';
@import 'code';
@import 'cta';
@import 'footer';
@import 'header';
@import 'layout';
@import 'main';
@import 'nav';
@import 'photos';
@import 'posts';
@import 'prism';
@import 'resume';
@import 'tables';
@import 'type';
@import 'update';
